In [1]:
import pandas as pd

In [2]:
filepath = '/Volumes/backup_128G/z_repository/TBIO_data/RequestsFromTana/all_org_classes'

all_orgs = 'query_all_org_class_results2.xlsx'
v10_tana = 'output_class_to_orgs_20190501_v10_tana.xlsx'
outfile = 'orgs_deleted_20190508_v1.xlsx'

read_v10_tana = '{0}/{1}'.format(filepath, v10_tana)
read_all_orgs = '{0}/{1}'.format(filepath, all_orgs)
write_file_to = '{0}/{1}'.format(filepath, outfile)

# All organizations

In [3]:
orgDf = pd.read_excel(read_all_orgs)
orgDf = orgDf.fillna(0)
orgDf.shape, orgDf.head()

((35591, 3),   graph              orgName                                 class
 0   yjc         Organization                                     0
 1   yjc  PrivateOrganization  (公司設在竹東郡蕃地油羅山由台北海山郡及文山部的三井製材所提供原料),製
 2   yjc         Organization  (公司設在竹東郡蕃地油羅山由台北海山郡及文山部的三井製材所提供原料),製
 3   yjc         Organization                                     )
 4   yjc         Organization                            +_後在嘉義設立分店)

In [4]:
orgList = []
for idx in range(0, len(orgDf)):
    row = orgDf.loc[idx]

    org = str(row['class'])
    
    if org in orgList:
        continue
            
    orgList.append(org)

orgList[0:5]

['0',
 '(公司設在竹東郡蕃地油羅山由台北海山郡及文山部的三井製材所提供原料),製',
 ')',
 '+_後在嘉義設立分店',
 '+_獲特選第一名及台展賞']

# Organizations Tana works on

In [5]:
workDf = pd.read_excel(read_v10_tana)
workDf = workDf.fillna(0)
workDf.shape, workDf.head()

((19439, 5),
      Graph   Organization        SocietalSector                        Period  \
 0  chrj_pr  _台灣青年_刊物任發行編輯             MassMedia      EarlyPostWarOrganization
 1  chrj_pr         艋舺保良分局  PublicAdministration     UnknownPeriodOrganization
 2  chrj_pr         鹿港保良總局  PublicAdministration     UnknownPeriodOrganization
 3  chrj_pr         林本源製糖社       PrivateBusiness  JapaneseColonialOrganization
 4  chrj_pr            阿緱廳  PublicAdministration  JapaneseColonialOrganization

   Correct name
 0      台灣青年雜誌社
 1            0
 2            0
 3            0
 4            0  )

In [11]:
societalSectorList = []
periodList = []

for idx in range(0, len(workDf)):
    row = workDf.loc[idx]

    societal = str(row['SocietalSector'])
    period = str(row['Period'])

    if societal not in societalSectorList:
        societalSectorList.append(societal)

    if period not in periodList:
        periodList.append(period)
        
print(len(societalSectorList), len(periodList))

15 8

In [13]:
print(societalSectorList)

['MassMedia', 'PublicAdministration', 'PrivateBusiness', 'VoluntaryAssociation', 'Hospital', 'Academia_Education', 'Police', 'ReligiousOrganization', 'StateBusiness', 'CulturalOrganization', 'ArmedForces', 'Politics', 'UnknownSector', '0', 'NeedToBeSolved']

In [14]:
print(periodList)

['EarlyPostWarOrganization', 'UnknownPeriodOrganization', 'JapaneseColonialOrganization', 'BothPeriods', 'PreRetrossecionRepublicanOrganization', 'QingPeriodOrganization', '0', 'PrivateBusiness']

In [6]:
workList = []
for idx in range(0, len(workDf)):
    row = workDf.loc[idx]

    org = str(row['Organization'])
    
    if org in workList:
        continue
            
    workList.append(org)

workList[0:5]

['_台灣青年_刊物任發行編輯', '艋舺保良分局', '鹿港保良總局', '林本源製糖社', '阿緱廳']

# Get the deleted Organizations

In [7]:
deletedList = []
for org in orgList:
    if org in workList:
        continue
    if org in deletedList:
        continue
    
    deletedList.append(org)
    
print(len(deletedList), deletedList[0:5])

2269 ['0', '(公司設在竹東郡蕃地油羅山由台北海山郡及文山部的三井製材所提供原料),製', ')', '+_後在嘉義設立分店', '+_獲特選第一名及台展賞']

# Output to deleted list file

In [8]:
delDf = pd.DataFrame(deletedList, columns=['deleted'])
delDf.head()

                                deleted
0                                     0
1  (公司設在竹東郡蕃地油羅山由台北海山郡及文山部的三井製材所提供原料),製
2                                     )
3                            +_後在嘉義設立分店
4                          +_獲特選第一名及台展賞

In [9]:
delDf.to_excel(write_file_to)