In [1]:
import pandas as pd

In [2]:
filepath = '/Volumes/backup_128G/z_repository/TBIO_data/RequestsFromTana/all_org_classes'

chrjpr_orgs = 'chrjpr_org_all.tsv'
v10_tana = 'output_class_to_orgs_20190501_v10_tana.xlsx'
outfile = 'org2Graph.xlsx'

read_v10_tana = '{0}/{1}'.format(filepath, v10_tana)
read_chrjpr_orgs = '{0}/{1}'.format(filepath, chrjpr_orgs)
write_file_to = '{0}/{1}'.format(filepath, outfile)

## Orgnizations related to chrj_pr

In [3]:
prDf = pd.read_csv(read_chrjpr_orgs)
prDf.shape, prDf.head()

((2442, 1),          org
 0      漢學造詣深
 1       日本留學
 2    年在福州習漢學
 3  學習院,中學部畢業
 4          ?)

In [4]:
prResults = []
for idx in range(0, len(prDf)):
    row = prDf.loc[idx]
#     print(row)

    org = str(row['org'])
    
    if org in prResults:
        print(org)
        continue
            
    prResults.append(org)

prResults[0:5]

公學校
臺北帝國大學
國語學校
?
國立台灣大學法律系
臺北神學院
台北醫學院
熊本医科大学
漢學
台北帝國大學醫學專門部
臺北醫學專門學校
臺灣文化協會
文化協會
臺灣議會期成同盟會
臺灣民報社
台灣地方自治聯盟
新民會
臺灣雜誌社

['漢學造詣深', '日本留學', '年在福州習漢學', '學習院,中學部畢業', '?']

## Organizations Tana works on

In [5]:
workDf = pd.read_excel(read_v10_tana)
workDf = workDf.fillna(0)
workDf.head()

,Organization,SocietalSector,Period,Correct name
0,上海真如學院,Academia_Education,JapaneseColonialOrganization,0
1,下關商業學校,Academia_Education,JapaneseColonialOrganization,0
2,中埔公學校白芒埔分教場,Academia_Education,JapaneseColonialOrganization,0
3,中埔公學校頂六分教場,Academia_Education,JapaneseColonialOrganization,0
4,中壢皇民奉公會,PublicAdministration,JapaneseColonialOrganization,0

In [6]:
workResults = []
for idx in range(0, len(workDf)):
    row = workDf.loc[idx]

    org = str(row['Organization'])
    
    if org in prResults:
        workResults.append([org, 'chrj_pr'])
        continue

    workResults.append([org, ''])
    
workResults[0:5]

[['上海真如學院', ''],
 ['下關商業學校', ''],
 ['中埔公學校白芒埔分教場', ''],
 ['中埔公學校頂六分教場', ''],
 ['中壢皇民奉公會', '']]

In [7]:
# Insert the orgs which are not in the table
for prRes in prResults:
    # check org is in table list or not
    graph = 'chrj_pr'
    for workRes in workResults:
        org = workRes[0]
        if org == prRes:
            graph = ''
            break
            
    if graph != '':
#         print([prRes, graph])
        workResults.append([prRes, graph])

In [8]:
orgDf = pd.DataFrame(workResults, columns=['org', 'graph'])
orgDf.head()

           org graph
0       上海真如學院
1       下關商業學校
2  中埔公學校白芒埔分教場
3   中埔公學校頂六分教場
4      中壢皇民奉公會

In [9]:
write_orgGraph_file = '{0}/{1}'.format(filepath, 'orgGraphFile.xlsx')
orgDf.to_excel(write_orgGraph_file)